:root {
  --center: 12rem;
  --center-button: 14rem;
}

body {
  display: grid;
  justify-content: center;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Glass Antiqua", cursive;
}

.canvas {
  width: 500px;
  height: 500px;
}

button {
  position: relative;
  top: 1rem;
  left: var(--center-button);
  width: 8rem;
  height: 2rem;
}

label {
  position: relative;
  left: var(--center);
}
canvas {
  position: relative;
  left: 16rem;
  top: 2rem;
}

button {
  left: 26rem;
  display: none;
}
label {
  position: relative;
  font-size: 5rem;
  width: 64rem;
}

select {
  position: relative;
  display: none;
  left: 23rem;
  width: 13rem;
  margin-top: 1rem;
}

.Text {
  margin: 1px;
  position: relative;
  left: 20rem;
  font-size: 1rem;
  width: 20rem;
  display: block;
}
